@media print {
    body{
        color: black;
        background-color: white;
    }

    #main-header{
        color: black;
    }

    #navbar{
        display: none;
    }

    .content{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    p:first-letter{
        color: black;
    }

    .h2style, #naglowkiBle h1, #naglowkiBle h2, #naglowkiBle h3{
        color: black;
    }

    .my-table th, td {
        border: 5px solid black;
    }

    .my-table th, .my-table tr{
        color: black;
    }

    ol{
        color: black;
    }

    .defs, .definition{
        color: black;
    }

    img{
        display: none;
    }

    #pic1, #pic2{
        filter: grayscale(100%);
    }

    @page  {
        margin: 2cm;
    }

    ol, .defs{
        page-break-inside: avoid;
    }
}